@import "../../shared//styles/colors";

.signin-body {
    width: 100vw;
    height: 100vh;
    color: $intigo-text-primary;

    &__container {
        height: 100%;
        padding: 0 2em;
        width: 40%;
        margin: auto;
        box-shadow: 0px 0px 10px 5px rgba(68, 68, 68, 0.386);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__icon {
            background: $intigo-primary-light;
            border-radius: 50%;
            padding: 9px;
            width: fit-content;

            svg {
                font-size: 40px;
                fill: white;
            }
        }

        &__title {
            margin: 2em 0;
        }

        &__navigation {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__copyright {
            margin-top: 8em;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .signin-body {
        &__container {
            width: 50%;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .signin-body {
        &__container {
            width: 60%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .signin-body {
        &__container {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .signin-body {
        &__container {
            width: 100%;
        }
    }
}
